@import 'tailwindcss';
@import '@fontsource/montserrat';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-a: #E8E3DF;
    --color-b: #FF7930;
    --color-c: #455C88;
    --color-d: #000000;
};

@font-face {  font-family: Varsity;  font-style: normal;  font-weight: 200 700;  font-display: swap;  src: url("/fonts/varsity_regular.woff2") format("woff2");}
@font-face {  font-family: VarsityTeam;  font-style: normal;  font-weight: 200 700;  font-display: swap;  src: url("/fonts/VarsityTeam-Bold.otf") format("opentype");}
